.postText {
    padding-left: 7px;
}

.likesCount {
    padding-left: 7px;
    color: crimson;
}

.imgSize {
    width: 48px;
    height: 48px;
}

.ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: max-content;
    margin: 8px;
}

.li {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 64px;
}

.button {
    width: 32px;
    height: 32px;
    background: 
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(60deg, #ff81ed 0%, #b279ff 52.6%, #7785ff 73.96%, #51b9ff 100%) border-box;
    border: 2px solid transparent;
    border-radius: 50%;
    text-transform: capitalize;
    margin: 8px;
    color: #b279ff;
    font: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
}
.button:hover {
    cursor: pointer;
        color: #fff;
        background: 
        linear-gradient(60deg, #51b9ff 0%, #7785ff 52.6%, #b279ff 73.96%, #ff81ed 100%) padding-box;
    border: none;
    border-radius: 50%;
}
.button:disabled {    
    color: #cccaca;
    border: 2px solid #cccaca;
    border-radius: 34px;
}
.button:disabled:hover {
        color: #cccaca
}
