.descriptionWrapper {
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.statusBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 128px;
}

.profileInformationContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.aboutMe {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
}


.aboutMe span {
    font-size: 14px;
    font-weight: 600;
}


.contactsInformation {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.contactsInformation h3 {
    margin  : 0;
}
.contactsInformation span {
    font-size: 14px;
    font-weight: 600;
}
.contactsInformation .span p  {
    display: inline-block;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
}

.text {
    display: inline-block;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
}

.buttonD {
    color: #fff;
    font-size: 14px;
    width: max-content;
    background-color: green;
    padding: 8px;
    margin-top: 4px;
    border-radius: 8px;
    border: none;
}

.button:hover {
    background-color: #a57cff;
    color: #fff;
    text-shadow: #fff 0 0 2px;
    box-shadow: #f280f1 0 0 8px;
}