.nav {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, #09203f 0%, #537895 100%);
    border-radius: 8px;
    min-width: 240px;
    width: max-content;
    padding: 8px;
    align-items: center;
    gap: 4px;
}
.link {
    text-decoration: none; 
    color: #fff;
}
.link:hover {
    font-weight: 600;
    color: #7785ff;
}
.linkItemText {
    text-transform: uppercase;
}