.nav {
    display: grid;
    border: rosybrown solid 2px;
    grid-area: nav;
    padding: 20px;
    grid-template-rows: 1fr;
    grid-template-columns: 8fr;
}
.link {
    text-decoration: none; 
    color: gold;
}
.linkItemText {
    text-transform: uppercase;
}