.selectedButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: 
        linear-gradient(60deg, #51b9ff 0%, #7785ff 52.6%, #b279ff 73.96%, #ff81ed 100%) padding-box,
        linear-gradient(60deg, #51b9ff 0%, #7785ff 52.6%, #b279ff 73.96%, #ff81ed 100%) border-box;
    border: 2px solid transparent;
    border-radius: 34px;

    color: #fff;
    font: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
}

.pagesButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    background: 
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(60deg, #51b9ff 0%, #7785ff 52.6%, #b279ff 73.96%, #ff81ed 100%) border-box;
    border: 2px solid transparent;
    border-radius: 34px;

    color: #7785ff;
    font: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
}

.pagesButton:hover {
    cursor: pointer;
        color: #fff;
        background: 
        linear-gradient(60deg, #ff81ed 0%, #b279ff 52.6%, #7785ff 73.96%, #51b9ff 100%) padding-box,
        linear-gradient(60deg, #ff81ed 0%, #b279ff 52.6%, #7785ff 73.96%, #51b9ff 100%) border-box;
    border: 2px solid transparent;
    border-radius: 34px;
}

.paginatorWrapper {
    display: flex;
    gap: 2px;
}

.button {
    width: max-content;
    height: 32px;

    background: 
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(60deg, #51b9ff 0%, #7785ff 52.6%, #b279ff 73.96%, #ff81ed 100%) border-box;
    border: 2px solid transparent;
    border-radius: 34px;

    color: #7785ff;
    font: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
}

.button:hover {
    cursor: pointer;
        color: #fff;
        background: 
        linear-gradient(60deg, #ff81ed 0%, #b279ff 52.6%, #7785ff 73.96%, #51b9ff 100%) padding-box,
        linear-gradient(60deg, #ff81ed 0%, #b279ff 52.6%, #7785ff 73.96%, #51b9ff 100%) border-box;
    border: 2px solid transparent;
    border-radius: 34px;
}

.disabled {    
    color: #cccaca;
    border: 2px solid #cccaca;
    border-radius: 34px;
    pointer-events: none;
}

.button:disabled:hover {
        color: #cccaca
}
