.contentWrapper {
    background-image: url('./../../assets//background/background_image.jpg');
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.textCenter {
    color: #fff;
    text-transform: uppercase;
    font-size: 23px;
    margin: 50px 0 50px 0;
    display: block;
    text-align: center;
}

.box {
    position: absolute;
    left: 55%;
    top: 65%;
    height: 500px;
    width: 450px;
    transform: translate(-50%, -50%);
    background-color: rgba(26, 24, 29, 0.7);
    border-radius: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    /* position: relative; */
    margin-bottom: 25px;
}

.label input {
    width: 100%;
    border: 0;
    border-bottom: 3px solid white;
    background: transparent;
    margin-bottom: 25px;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: white;
    border-radius: 3px;
}

.inputContainer input:focus {
    border: none;
    outline: none;
    border-bottom: 3px solid #ffba12;
}

::placeholder {
    color: white;
    font-size: 16px;
    text-align: start;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #ffffff;
    transition: background-color 500s ease-in-out 0s;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: white;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: white;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #ffba12;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 0;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    /*-webkit-transform: rotate(45deg);*/
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.link p {
    color: white;
}

.link a:link {
    color: #ffba12;
    text-decoration: none;
}
.link a:visited {
    color: dodgerblue;
    text-decoration: underline;
}
