.postsWrapper {
    margin: 8px;
    display: flex;
    flex-direction: column;
}

.postsWrapper h3 {
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
}
.textareaContainer {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 8px;
}

.textarea {
    width: 375px;
    height: 75px;
    padding: 4px 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: vertical;
    &:focus {
        box-shadow: #ccc 0 0 10px 4px;
    }
}
::placeholder {
    color: #000;
}

.button {
    color: #fff;
    font-size: 14px;
    width: max-content;
    background-color: #6e94ff;
    padding: 8px;
    margin-top: 4px;
    border-radius: 8px;
    border: none;
}

.button:hover {
    background-color: #a57cff;
    color: #fff;
    text-shadow: #fff 0 0 2px;
    box-shadow: #f280f1 0 0 8px;
}
