.inputContainer {
    position: relative;
    margin-bottom: 25px;
}
.label input {
    min-width: 250px;
    width: 100%;
    border: 0;
    border-bottom: 3px solid #fff;
    background: transparent;
    margin-bottom: 25px;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;
}

.inputContainer input:focus {
    border: none;
    outline: none;
    border-bottom: 3px solid #ffba12;
}

::placeholder {
    color: #fff;
    font-size: 16px;
    text-align: start;
}
